* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-weight: 100;
}

body {
  width: 100%;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:unset;
}

.container {
  padding: 2rem 15%;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.navbar-container li {
  list-style: none;
}

li {
  cursor: pointer;
}

.navbar h2 {
  cursor: pointer;
}

.navbar-links ul, .navbar-icons ul{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.hamburger {
  opacity: 0;
  width: fit-content;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger-navbar-links {
  position: fixed;
  z-index: 10;
  left: -100%;
  top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: white;
  transition: 0.5s ease;
}

.hamburger-navbar-links.active {
  left: 0;
}

.hamburger.active span:nth-child(1) {
  scale: 1.2;
  transform: translateY(10px) rotate(45deg)
}

.hamburger.active span:nth-child(2) {
  display: none;
}

.hamburger span {
  transition: transform 0.3s ease;
}

.hamburger.active span:nth-child(3) {
  scale: 1.2;
  transform: translateY(-6px) rotate(-45deg)
}



.hamburger-navbar-links ul{
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  text-decoration: underline;
  text-underline-position: under;
}

.hamburger span {
  width: 20px;
  height: 1px;
  background-color: black;
}

.background-video {
  margin-top: 5rem;
  height: 600px;
  position: relative;
}

.my-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.collection {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
}

.metatext {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.metatext h1 {
  font-size: 3rem;
}

.metatext p {
  font-size: 1.5rem;
}

.favourite-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.favourite-item {
  position: relative;
  width: 18rem;
  height: 14rem;
  margin-bottom: 1rem;
  border: 0.5px solid black;
  text-align: center;
  font-size: 1rem;
  box-shadow: 1px 2px 5px 1px rgba(12,12,12,0.2);
  transition: .5s ease;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,0.3);
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
}

.buy-button {
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 1rem;
  background-color: rgba(23, 23, 23, 0.8);
  height: 30px;
  border-radius: 15px;
  margin: 5% 5%;
  padding: 0% 5%;
  border: none;
  cursor: pointer;
}

.fade-active {
  opacity: 0;
}

.buy-button:active {
  background-color: rgba(98, 98, 98, 0.3);
  transform: translateY(1px);
}

.favourite-item:hover{
  z-index: 3;
  scale: 1.050;
  overflow: hidden;
}

.favourite-item:hover .overlay{
  opacity: 1;
}

footer {
  width: 100%;
  height: fit-content;
  margin-top: 2rem;
  padding: 0 5rem;
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

footer .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  cursor: pointer;
}

.contacts a:nth-child(2),
.contacts a:nth-child(3) {
  color: black;
}

.back-to-start {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.fa-instagram {
  margin-top: 15px;
  scale: 2;
  cursor: pointer;
}

.page-container .item {
  display: flex;
  justify-content: space-between;
}

.page-container h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}

.material-symbols-outlined {
  cursor: pointer;
}

.page-container .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.go-back a{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.order-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
}

.order-img button{
  background-color: white;
  color: black;
  border: none;
}

.item-measures {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.item-measures li {
  list-style: none;
}

.item p {
  margin: 1rem 0;
}

.product-page-image {
  margin-right: 1rem;
}

.carousel .slide img {
  max-height: 400px;  /* change this to whatever you want */
  width: auto;
  object-fit: contain;
  object-position: center;
}

.carousel .thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .control-arrow {
  background: rgba(0,0,0,0.5);
}

.product-page-image .overlay{
  opacity: 1;
  background-color: transparent;
  justify-content: space-between;
}

.info {
  width: 100%;
  font-size: 1rem;
}
.product-info {
  width: 100%;
  max-width: 350px;
  overflow-y: auto;
  font-size: 1rem;
}


.order {
  background-color: #eadbd2;
  font-size: 1rem;
  position: relative;
}

.order p {
  margin: 2rem 0;
  max-width: 50rem;
}

.order form {
  gap: .5rem;
  display: flex;
  flex-direction: column;
}

.order form input:nth-child(2),
.order form input:nth-child(4) {
  width: 30%;
  height: 25px;
  border: 0.5px solid black;
  border-radius: 5px;
}

.order form textarea {
  width: 50%;
  height: 150px;
  border: 0.5px solid black;
  border-radius: 5px;
  resize: none;
}

.order form button {
  margin-top: 1rem;
  width: 120px;
  height: 30px;
  border: 0.5px solid black;
  border-radius: 10px;
  color: white;
  background-color: rgba(29, 185, 89,0.8);
  font-size: medium;
  cursor: pointer;
}

.order form button:active {
  scale: 1.05;
  background-color: rgba(29, 185, 89,0.6);
}

textarea:focus,
input:focus,
select:focus {
    font-size: 16px; /* set the font-size to the desired value */
    -webkit-text-size-adjust: none; /* disable automatic text size adjustment */
}

.notification {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 400px;
  background-color: rgba(80, 160, 110, 1);
  color: white;
  font-size: large;
  text-align: center;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  font-weight: 900;
}

.active {
  opacity: 1;
  display: flex;
}

.notification button {
  margin: 0 1rem;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: 0.5px solid black;
  background-color: rgb(110, 110, 110);
  color: white;
}

.notification button:active {
  opacity: 0.6;
}

.error {
  background-color: rgba(248, 68, 48, 0.9);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000000c4;
  height: 75px;
}
.about-us {
  display: flex;
  flex-direction: column;
  background-color: #eadbd2;
  padding: 2rem 5% 2rem 5%;
}

.about-us h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.about-us h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.founderImg {
  width: 30rem;
  object-fit: cover;
  margin:auto;
}

.article-images {
  margin: auto;
}

.article-images img {
  width: 9rem;
  object-fit: cover;
}

.about-us-container {
  display: flex;
}

.about-us-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
.articles {
  margin: 5% 0;
}

.articles li {
  list-style: circle;
  font-size: 1rem;
}

@media screen and (min-width: 1910px) {
  .container {
    padding: 40px 20rem;
  }

  .favourite-item {
    width: 23rem;
    height: 18rem;
  }

  .about-us {
    padding: 2rem 20rem 2rem 20rem;
  }

  .article-images img {
    width: 16rem;
  }
}

@media screen and (max-width: 600px) {
  .background-video {
    height: 220px;
  }

  .page-container .item {
    flex-direction: column;
    height: auto;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-container h1 {
    transform: none;
    left: 0;
    position: initial;
  }

  .product-page-image {
    margin: 0;
    aspect-ratio: 1;
  }

.order form input:nth-child(2),
.order form input:nth-child(4) {
  width: 70%;
}

.order form textarea {
  width: 90%;
}

.product-info {
  aspect-ratio: unset;
}

.favourite-collection {
  flex-direction: column;
}

.favourite-item {
  width: 100%;
}

.about-us-container {
  flex-direction: column;
}

.about-us-container .info {
  margin-top: 20px;

}

.about-us img {
  width: 100%;
}

.about-us h1 {
  font-size: 40px;
}

.about-us h2 {
  font-size: 30px;
  margin: 5% 0;
}

.articles li {
  font-size: 15px;
}

.hamburger {
  opacity: 1;
}

.navbar-links {
  display: none;
}

.favourite-item:hover{
  z-index: 3;
  scale: 1;
  overflow: hidden;
}

footer .top {
  flex-direction: column;
}

.notification {
  width: 300px;
}  
}