* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-weight: 100;
}

body {
    width: 100%;
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;*/
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
}



.container {
    padding: 5rem 1rem;
}

/*Navbar styles*/
.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    color: white;
    transition: background-color 0.4s;
}

.navbar.active {
    color: black !important;
}

.navbar-container li {
    list-style: none;
}

.navbar.scrolled {
    background-color: rgb(0, 0, 0, 0.4);
}

li {
    cursor: pointer;
}

.navbar h2 {
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar-links {
    display: none;
}

.navbar-links ul,
.navbar-icons ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.hamburger {
    opacity: 1;
    width: fit-content;
    height: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hamburger-navbar-links {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1ef;
    transition: 0.5s ease;
    transform: scale(0%);
}

.hamburger-navbar-links.active {
    transform: scale(100%);
}

.hamburger.active span:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
    transform-origin: left;
}

.hamburger.active span:nth-child(2) {
    display: none;
}

.hamburger span {
    transition: transform 0.3s ease;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
    transform-origin: left;
}

.hamburger-navbar-links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    padding: 5rem 0;
    align-items: center;
    text-decoration: underline;
    text-underline-position: under;
}

.hamburger span {
    width: 20px;
    height: 1px;
    background-color: white;
}

.hamburger.active span {
    background-color: black !important;
}

/*Background video*/
.background-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    position: relative;
    z-index: -100;
}

h1 {
    color: white;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.my-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -100;
}

/*Landing Content*/
/* For animation transition */
.reveal {
    position: relative;
    transform: translateY(70px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.product-tag {
    background-color: #f1f1ef;
}

.product-tag p {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 3rem 2rem;
    text-align: center;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: 1fr;
    padding: 1rem;
    row-gap: 3rem;
    column-gap: 1rem;
}

.category {
    cursor: pointer;
}

.category p {
    margin: .5rem 0;
    text-decoration: underline;
}

.category img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    gap: 1.5rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 0 2rem;
}

form input {
    width: 100%;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 0;
    border-width: .5px;
    border-color: rgba(165, 165, 165, 0.5);
    font-size: 1rem;
}

form button {
    width: max-content;
    padding: 1rem 2rem;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* About us*/


.about-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    z-index: -100;
    margin-bottom: 3rem;
    background: black;
    overflow: hidden;
}

.about-hero p {
    padding: 2rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.5;
    color: #f1f1ef;
}

.about-us-image {
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -100;
}


.about-main {
    padding: 2rem;
}

.about-main p {
    margin: 2rem 0;
    font-weight: 600;
    line-height: 1.8;
}

.collab-image {
    max-width: 80%;
}

.articles {
    background-color: #f1f1ef;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
}

.articles>p {
    padding: 0 1rem;
    font-size: 1.3rem;
    text-align: center;
}

.article-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.article-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article {
    display: flex;
    flex-direction: column;
}

.article p {
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

/*Collection*/

.collection-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;
    z-index: -100;
    margin-bottom: 3rem;
}

.collection-hero img {
    width: 100%;
}

.collection-hero p {
    padding: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    line-height: 1.5;
    color: #f1f1ef;
}

.accessibility {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.filters {
    display: flex;
    gap: 1rem;
}

.filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.product-list {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
}

.product-img {
    position: relative;
}

.product img {
    width: 100%;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}

.product:hover .overlay {
    opacity: 1;
}

.buy-button {
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(23, 23, 23, 0.8);
    height: 2rem;
    width: 4rem;
    border-radius: 1rem;
    padding: 3px;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.buy-button:hover {
    background-color: rgba(98, 98, 98, 0.6);
    transform: scale(1.1);
}

/* Product*/

.go-back span {
    cursor: pointer;
}

.top {
    margin: 1rem 0;
}

.crsl {
    max-width: 40rem;
    margin: auto;
}

.slide .carousel-img {
    height: 15rem;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-measures ul {
    list-style-position: inside;
}

.order {
    position: relative;
    padding-top: 1rem;
    background-color: #f1f1ef;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order textarea {
    width: 100%;
    height: 10rem;
    border-width: 0.5px;
    border-color: rgba(165, 165, 165, 0.5);
    padding: 1rem;
    font-size: 1rem;
}


.notification {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    background-color: rgba(80, 160, 110, 1);
    color: white;
    font-size: large;
    text-align: center;
    border-radius: 5px;
    transition: opacity 0.5s ease-in-out;
    font-weight: 900;
}

.notification.active {
    opacity: 1;
    display: flex;
}

.notification button {
    margin: 0 1rem;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid black;
    background-color: rgb(110, 110, 110);
    color: white;
}

.notification button:active {
    opacity: 0.6;
}

.error {
    background-color: rgba(248, 68, 48, 0.9);
}

/*Footer*/

footer {
    background-color: #f1f1ef;
}

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 1rem 1rem;
}

footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
}

.contacts a:nth-child(2),
.contacts a:nth-child(3) {
    color: black;
}

.back-to-start {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.fa-instagram {
    margin-top: 1rem;
    scale: 2;
    cursor: pointer;
}

.carousel .thumbs {
    width: max-content;
    margin: auto;
}

@media (min-width: 1024px) {
    .navbar-links {
        display: block;
    }

    .categories{
        padding: 6rem;
    }
    .hamburger {
        opacity: 0;
        pointer-events: none;
    }

    .background-video h1 {
        max-width: 30rem;
    }

    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    }
    .product-tag p {
        max-width: 30rem;
        margin: auto;
    }

    .subscription {
        max-width: 40rem;
        margin: auto;
    }

    .subscription form {
        width: 70%;
    }

    .collection-hero {
        height: 65vh;
    }

    .collection-hero p {
        max-width: 30rem;
    }

    .about-hero {
        height: 55vh;
    }

    .about-hero p {
        max-width: 32rem;
    }

    .navbar-container li:hover{
        text-decoration: underline;
    }

    .about-us-image {
        width: 100%;
    }

    .about-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    .about-main p {
        line-height: 2.5;
    }

    .collab-image {
        width: 100%;
        max-width: none;
        object-fit: cover;
        max-height: 40rem;
    }

    .articles {
        gap: 2rem;
        padding: 2rem 15rem;
    }

    .articles p {
        max-width: 40rem;
    }

    .article-images img {
        max-height: 25rem;
    }

    .container {
        padding: 5rem 15rem;
    }

    .slide .carousel-img {
        height: 28rem;
        object-fit: cover;
    }

    form input {
        width: 15rem;
    }

    .order form {
        align-items: baseline;
        padding: 0;
    }

    footer .top {
        padding: 1rem 10rem;
    }
 }

 @media (min-width: 1440px) {

    .product-list {
        padding: 2rem 15rem;
    }

    .articles {
        flex-direction: row;
    }

    .accessibility {
        padding: 0 15rem;
    }

    .collection-hero p {
        max-width: 35rem;
        font-size: 2rem;
    }

    .about-hero p {
        font-size: 1.5rem;
    }

    .about-main {
        padding: 2rem 15rem;
    }

    .slide .carousel-img {
        height: 35rem !important;
        object-fit: cover;
    }
}